<div class="company-logo">
    @await Html.PartialAsync("Partials/Components/_CompanyLogo")
</div>

<div class="topbar">
    @await Html.PartialAsync("Partials/Components/_TopBar")
</div>

<div class="sidebar">
    @await Html.PartialAsync("Partials/Components/_NavigationLinks")
</div>
