@model string

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signing Out...</title>
</head>
<body>
    <p>Signing you out... Please wait.</p>

    <script>
        window.location.href = '@Model';
    </script>
</body>
</html>
