.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.form-container {
    width: 37.5rem;
    padding: 4rem 2rem 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: var(--background-color);
}

h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

.google-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 0.875rem;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: var(--Grey-100);
    text-decoration: none;    
}

    .google-signup span {
        flex-grow: 1;
        text-align: center;
    }

    .google-signup img {
        width: 20px;
        
    }

.or-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
    color: var(--Body-Light);
    font-weight: 500;
    font-size: 0.9rem;
}

    .or-separator hr {
        flex: 1;
        height: 1px;
        background-color: var(--Border-100);
        border: none;
    }


.form-login {
    text-align: left;
    margin-bottom: 15px;
}

    .form-login label {
        display: block;
        margin-bottom: 5px;
        color: var(--text-color);
    }

    .form-login input {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--Border-100);
        border-radius: 0.875rem;
    }

.input-wrapper {
    position: relative;
    height: 44px;
}

    .input-wrapper input {
        width: 100%;
        padding-right: 3rem; 
    }

.toggle-password {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000000;
    z-index: 2;
}


.error-icon {
    position: absolute;
    right: 2.5rem; 
    top: 50%;
    transform: translateY(-50%);
    color: #d33;
    display: none;
    z-index: 2;
}


.is-persistent-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-persistent-password a {
    color: var(--Accent);
    cursor: pointer;
}

    .is-persistent-password a:hover {
        color: var(--Accent-Hover);
    }

.remember-me {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    margin: 1rem 0;
}

        .remember-me label {
            margin-bottom: 0;
            font-size: 0.9rem;
        }


.terms {
    display: flex;
    align-items: center;
}

    .terms input {
        margin-right: 5px;
    }

    .terms a {
        color: var(--primary-color);
        text-decoration: none;
    }

.submit-btn {
    width: 100%;
    background-color: var(--Accent);
    color: white;
    border: none;
    padding: 0.875rem 1.5rem;
    border-radius: 0.875rem;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: var(--Accent-Hover);
    }

.login-link {
    margin-top: 2rem;
    font-size: 14px;
}

    .login-link a {
        color: var(--Accent);
        text-decoration: none;
    }

        .login-link a:hover {
            color: var(--Accent-Hover);
        }

/* Pulse Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.75;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animated-pulse {
    animation: pulse 0.8s ease-out 2;
}
